.content{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-item{
    display: flex;
    justify-content: center;
    height: 555px;
    @media (max-width:767px){
        flex-wrap: wrap;   
        justify-content: center;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
   
}

.reverse{
    flex-direction: row-reverse;
}

.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;
    @media (max-width:768px){
        margin-top: 8px;
        margin-bottom: 32px;
        width: 50%;
        padding: 0 8px;
     }
     @media (max-width:767px){
        margin-top: 8px;
        margin-bottom: 32px;
        width: 100%;
        padding: 0;
     }
}
.description h3{
    font-size: 32px;
    font-weight: bold;
}
.des_p{
    font-size: 20px;
    font-weight: 300;
    @media (max-width:767px){
        margin-top: 4px;
    }
}

.more{
    display: block;
    color: #AC8A46;
    font-size: 16px;
    font-weight: 600;
    &:hover{
        color: #6d440f;
    }
}
.content-img{
    display: block;
    width: 50%;
    @media (max-width:767px){
        width: 100%;
    }
    img{
        width: 100%;
        height: 555px;
        @media (max-width: 767px) {
            height: 350px;
        }
    }
}
// .img1{
//     background-image: url(../pic/index2.jpg);
//     background-position: center center;
//     background-size: cover;

// }
// .img2{
//     background-image: url(../pic/index3.png);
//     background-position: center center;
//     background-size: cover;
// }
// .img3{
//     background-image: url(../pic/index4.jpg);
//     background-position: left;
//     background-size: cover;
// }
.cover{
    object-fit: cover;
}
.fill{
    object-fit: fill;
}
.position-center{
    background-position: center center;
}

.img4{
    background-image: url(../pic/index5.jpg);
    background-position: top;
    background-size: cover;
    @media(max-width: 767px){
        height: 600px;
    }
}
.maintenance{
    height: 1080px;
    @media(max-width: 767px){
        flex-wrap: wrap;   
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    h3{
        font-size: 24px;
        font-weight: bold;
    }
@media(max-width: 767px){
    ol li{
        margin-bottom: 20px;
    }
}
.train{
    color: #000;
    border-radius: 30px;
    border: 2px solid #000;
    font-weight: bold;
    text-align: center;
    padding: 18px 53px;
    font-size: 18px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}
    
}

