.footer{
    background: #916000;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 767px) {
        height: 80px;
    }
}
.footer_logo{
    background-image: url(../pic/d’Perfumewhite.png);
    width: 128px;
    height: 38px;
    margin-right: 20px;
}
.copyright {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    p{
        color: #fff;
        font-size: 14px;
    }
    
}
.footer_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 767px) {
        display: none;
    }
}
.footer_menu li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 28px 18px;
    &:hover{
        color: rgb(199, 199, 199);
    }
}

