.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
        height: 56px;
    }
}
.menu{
    display: flex;
}

// .logo a{
//     display: block;
//     background-image: url(../pic/d’Perfume.png);
//     width: 128px;
//     height: 38px;
//     white-space: nowrap;
//     overflow: hidden;
//     cursor: pointer;
//     text-indent: 101%;
// }

.text-hide {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
.bg-logo {
    background-image: url(../pic/d’Perfume.png);
    width: 128px;
    height: 38px;
  }
.d-block {
    display: block;
}

.relative{
    position: relative;
}

.header .menu a{
    // position: relative;
    display: block;
    padding: 15px;
    color: #8D8D8D;
    font-size: 20px;
    @media(max-width: 767px) {
        padding: 5px;
    }
}
.header .menu i{
    padding: 3px;
    @media(max-width: 767px) {
        padding: 0;
    }
}
.m_cart{
    display: none;
}
@media (max-width:767px){
    .d_cart{
        display: none;
    }
    .m_cart{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: #916000;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        font-size: 12px;
        width: 16px;
        height: 14px;
    }
    .m-hide{
        display: none;
    }
}
.appear{
    display: none;
    @media(max-width: 767px) {
        display: block;
        padding-left: 15px;
    }
}
