.introduction{
    background-image:url(../pic/index1.jpg);
    background-position: center center;
    background-size: cover;
    // background-repeat: no-repeat;
    height: 870px;
    display: flex;
    align-items: center;
    @media(max-width: 767px){
        background-position: left;
        height: 480px;
    }
}
.intro{
    display: flex;
    justify-content: flex-end;
}

.text{
    // padding: 295px 0;
    // padding-left: 43%;
    max-width: 445px;
    color: white;
    @media(max-width: 768px) {
        padding: 100px 0;
    }
}
.text h2{
    font-size: 40px;
    font-weight: bold;
    @media(max-width: 768px) {
        font-size: 32px;
        line-height: 48px;
    }
}
.text p{
    font-size: 24px;
    @media(max-width: 768px) {
        font-size:20px;
        line-height: 30px;
    }
}
.text a{
    display: block;
    max-width: 350px;
    font-size: 24px;
    text-align: center;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px 0;
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
    @media(max-width: 768px){
        width: 100%;
    }
}
