.product{
    background: #e0e0e0;   
}
.product_item{
    @media (max-width:768px){
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;   
    }
    padding: 40px 0 24px;
    display: flex;
    justify-content: space-between;
    div{
        flex-direction: column;
        text-align: left;
        p{
            padding-bottom: 16px;
        }
        h2{
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
        }
        span{
            margin-left: 8px;
            text-decoration: line-through;
            color: #8D8D8D;
        }
    }
    a:hover{
        opacity: 0.7;
    }
}
.product_img{
    display: block;
    background-size: cover;
    margin-bottom: 8px;
    width: 350px;
    height: 540px;
}
.sold_out{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    p{
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        padding-top: 252px;
    }
}
.product1{
    background-image: url(../pic/index6.jpg);
    background-position: bottom;
}
.product2{
    background-image: url(../pic/index7.jpg);
    background-position: center;
}
.product3{
    background-image: url(../pic/index8.jpg);
    background-position: center;
}
