.recycling{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px){
        width: 100%;
        flex-direction: column;
        padding: 30px 0;
    }
}
.recycling_img{
    background-image: url(../pic/index9.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 30px;
    width: 66%;
    height: 520px;
    @media (max-width: 768px){
        width: 100%;
        height: 520px;
    }
}
.recycling_txt{
    @media (max-width: 768px){
        width: 100%;
        margin-top: 8px;
    }
    width: 30%;
    margin-top: 82px;
    h2{
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
    }
    h3{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    p{
        line-height: 24px;
    }
    a{
        display: block;
        color: #AC8A46;
        font-weight: bold;
        margin-top: 16px;
        &:hover{
            opacity: 0.7;
        }
    }
}