@import "reset";
body{
    font-family: -apple-system,BlinkMacSystemFont, "PingFangTC","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    p,h2,h3{
        line-height: 1.5;
    }
}
a{
    text-decoration: none;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    @media(max-width:768px) {
        max-width: 90%;
    }
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
.mb-6{
    margin-bottom: 48px;
}
.mb-7{
    margin-bottom: 56px;
}
.mb-14{
    margin-bottom: 112px;
}

@import "header";
@import "introduction";
@import "content";
@import "product";
@import "recycling";
@import "subscription";
@import "footer";